@import url(../../default/css/screen.css);

* {
    color: #000;
}

body {
    background: #000;
}

div.slide {
    background: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}
